body {
    background-color:black;
    margin: 0;
    padding: 0;
}
#navbar{
    color:white;
    display: flex;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: flex-end;
  background-color: black;
  list-style: none;
  border-bottom:1px solid wheat ;
  
}
#flex-start {
    margin-right: auto;
    padding: 0.3rem;
  }
  
  .flex-end {
    padding: 0.3rem;
    margin-right: 0.5rem;
  }
 form {
    width: 500px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

form input {
    border: none;
    background: transparent;
    color: white;
}

form label {
    display: inline;
    font-weight: lighter;
}

.WIDTH {
    /* width: 500px; */
}

button {
    padding: 5px 30px;
    border-radius: 0px;
}

.FORM {
    padding-left: 150px;
}

h1 {
    padding-left:150px;
    font-weight: 200;
    margin-top: 100px;
}

/* input[type=date]{ 
    color: transparent !important; 
}  */
.active input[type=date]{ 
    color: inherit !important; 
}
